<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Student Form   |Page</title>
</head>
<body>
    <h1>Student Form</h1>
    <div align="center">
        <form th:object="${student}" method="post" th:action="@{/student}" action="#">
            <input type="text" th:field="*{id}" placeholder="Enter Student ID"><br>
            <input type="text" th:field="*{name}" placeholder="Enter Student Name"><br>
            <input type="text" th:field="*{fatherName}" placeholder="Enter Student Father's Name"><br>
            <input type="number" th:field="*{semester}" placeholder="Enter Student Semester"><br>
            <input type="text" th:field="*{department}" placeholder="Enter Student Department"><br>
            <input type="number" th:field="*{cgpa}" placeholder="Enter Student CGPA/GPA"><br>
            <br><br> <input type="submit" value="Enroll">
        </form>
    </div>
</body>
</html>